
.cursor-default { cursor: default }
.cursor-pointer { cursor: pointer }

.gradient-vertical-primary-transparent {
    background-image: linear-gradient(var(--primary), #00000000);
  }

.overflow-x-auto { overflow-x: auto; }
.overflow-x-hidden { overflow-x: hidden; }